
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@500&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

* {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.bg{
    width: 100%;
    height: 100vh;
    background-image: url(/img/bg.webp);
    background-size: 100% 88vh;
    overflow: hidden;
    background-repeat: no-repeat ;
  
}

  .name h1::after {
    content: '|';
    animation: blink 0.7s infinite;
    margin-left: 5px;
    color: #8a6ba3;
  }

  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  /* Add typing animation for the name */
  .name h1 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 4s steps(40, end);
  }

  .name h1 span {
    display: inline-block;
    animation: typing 2s steps(40, end);
  }

  .name h1 span:nth-child(2) {
    animation-delay: 2s;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  /* Add fade effect between texts */
  .name h1 span {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

